[defaults]
host_key_checking  = false
fact_caching = jsonfile
fact_caching_connection = /tmp/facts_cache
library = library
gather_facts = true
interpreter_python = auto
log_path = /var/log/ansible.log

[connection]
pipelining = True
ssh_agent = auto


[ssh_connection]
pipelining = True
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s